
* {
  box-sizing: border-box;
  font-family: 'Palanquin', sans-serif;
  /* overflow: hidden; */
}

/* Main Page */
.search-deco {
  width: 80px;
  border-bottom: 1px solid #24997F;
}

.search-block {
  display: flex;
  justify-content: center;
  color: #24997F;
}

.search-block > h5 {
  margin: 0 10px 0 0;
  font-size: 18px;
}

.notebooks-link > h3 {
  color: #24997F;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

.outline-button {
  color:#24997F;
  border-color: #c4c4c4;
  font-size: 20px;
  width: 140px;
  height: 45px;
  padding: 0;
  margin-bottom: 80px;
}

.outline-button:hover {
  background-color: #24997F;
  border-color: #24997F;
  color: #c4c4c4;
}

.title {
  font-weight: bold;
  font-size: 65px;
  color: #24997F;
  letter-spacing: 0.15em;
}

.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.main-page-left {
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #24997F;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  left:0;
  top: calc((100vh - 20% - 45px)/2)
}

div.main-page-left > a {
  color: #24997F;
}


.main-page-right {
  height: 10%;
  display: flex;
  justify-content: center;
  color:#24997F;
  writing-mode: vertical-rl;
  position: absolute;
  right:0;
  top: calc((100vh - 45px - 10%)/2)
}

.main-page-footer {
  height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
}

div.title-block > a:hover, div.main-page-left > a:hover {
  color: #c4c4c4;
  text-decoration: none;
}

div.main-page-left > h5:hover, div.search-block:hover, div.main-page-right:hover {
  cursor: pointer;
}

.main-page-footer > div:first-child {
  background-color: #24997F;
  color: #3F3F3D;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.col-2 > h6 {
  margin: 0;
}

.main-page-footer > div:nth-child(2) {
  background-color: #3F3F3D;
}

.main-page-container {
  height: 100vh;
  padding: 30px 30px 0 30px;
  background-color: #333333;
  position: relative;
}


/* header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 80px;
  background-color: #3F3F3D;
}

.header-search-block {
  display: flex;
  justify-content: center;
  color: #24997F;
  margin-right: 100px;
}

.header-outline-button {
  color:#24997F;
  border-color: #c4c4c4;
  font-size: 20px;
  width: 140px;
  height: 45px;
  padding: 0;
}

.header-container {
  display: flex;
}

.header-outline-button:hover {
  background-color: #24997F;
  border-color: #24997F;
  color: #c4c4c4;
}

.header-student-name {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.header-hamburger-icon {
  margin: 0;
}

.header-search-deco {
  width: 80px;
  border-bottom: 1px solid #24997F;
  height: 20px;
  border: none;
}

.header-note-title {
  height: 55px;
  background-color: #3F3F3D;
  color: #24997F;
  font-size: 40px;
  border: none;
}

/* note-list */
.note-list-container {
  background-color: #333333;
  height: 100vh;
  padding: 30px 30px;
}

.note-list-container-border {
  width: 100%;
  padding: 0 5%;
  border: 1.5px solid #3F3F3D;
  border-radius: 5px;
  max-height: 100vh;
  overflow-y: auto;
}

.note-list-item {
  background-color: #333333;
  width: 30%;
  height: 60vh;
}

.note-list-item-body:hover {
  filter: brightness(110%)
}

.note-list-item-body {
  background-color: #333333;
}

.note-list-item-content {
  color: #FFFFFF;
  height:100%;
  margin: 22px;
  padding: 10px;
  font-size: 20px;
  max-height: 65%;
  overflow-y: auto;
}

.note-list-item-title {
  color: #24997F;
  background-color: #3F3F3D;
  font-size: 40px;
  padding: 20px;
}

.loading {
  padding: 45px;
  color: #24997F;
}

/* note page */
.difficulty {
  margin-left: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0.5px solid #C4C4C4;
  cursor: pointer;
}


.diff-status {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
}

.diff-1 {
  background-color: #FAEDCA;
}

.diff-2 {
  background-color: #F2C078;
}

.diff-3 {
  background-color: #C1DBB3;
}

.diff-4 {
  background-color: #24997F;
}

.diff-5 {
  background-color: #FE5D26;
}

.close-page-button {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  background-color: #24997F;
  border: 1px solid #C4C4C4;
  color:white;
  font-size: 18px;
}

.solid-button {
  color:white;
  border-color: #24997F;
  background-color: #24997F;
  font-size: 16px;
  width: 95px;
  height: 35px;
  padding: 0;
}

.solid-button-large {
  color:white;
  border-color: #24997F;
  background-color: #24997F;
  font-size: 16px;
  width: 160px;
  height: 45px;
  padding: 0;
}

.flashcard-select-tag {
  width: 40%;
}

.resource {
  width: 35%;
}

.resource-link {
  width: 50%;
}

.add-button {
  background-color: #24997F;
  color:white;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  margin-left: calc((100% - 45px)/2);
  cursor: pointer;
}

.minus-button {
  background-color: #24997F;
  color:white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.note-font-1 {
  font-size: 24px;
}

.note-font-2 {
  font-size: 36px;
  margin-bottom: 0;
}

textarea.note-content {
  height: 40vh;
  padding: 10px 15px;
}

.note-page-container {
  display: flex;
  color:#24997F;
  justify-content: space-between;
  padding: 30px 30px;
  height: calc(100vh - 80px);
  background-color: #333333;
}

.note-delete {
  padding: 45px;
  color: white;
  background-color: #333333;
}

/* flashcard page */
.fc-list-container {
  background-color: #333333;
  height: 100vh;
  padding: 30px 30px;
}

.fc-list-container-border {
  width: 100%;
  padding: 0 8%;
  border: 1.5px solid #3F3F3D;
  border-radius: 5px;
  max-height: 93vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#notebook-name {
  font-size: 30px;
  color: #24997F;
  margin-bottom: 0em;
}

#fccard {
  background-color: #333333;
  margin-top: 5rem;
  margin-bottom: 0;
  border: 1px solid #c4c4c4;
  width: 500px;
  height: fit-content;
  border-radius: 5px;
}

.fc-list-item {
  border: 1px solid #3F3F3C;
  color: white;
}

.fc-list-item-content {
  margin-top: 10px;
  display: flex;
  flex: column;
  color:#24997F;
  align-items: center;
  justify-content: center;

}

.study-button {
  color:#24997F;
  font-size: 20px;
  width: 140px;
  height: 45px;
  padding: 0;
  background-color: #333333;
  margin-left: 11rem;
  margin-bottom: 2rem;
  align-self: center;
}

.study-button:hover {
  background-color: #24997F;
  border-color: #24997F;
  color: #3F3F3C;
}

#cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  background-color: #3F3F3C;
  height: fit-content;
}

.q{
  margin-top: 10px;
  font-size: larger;
}

#deckLength {
  color:#24997F;
  width: 9rem;
  margin-left: 4rem;

}

/* Review Flashcards */

.flashcard-review-container {
  width: 100%;
  height: 100vh;
  background-color: #333333;
}

.flashcard-container {
  top: 7%;
  height: 80%;
  width: 100%;
}

.flashcards-review-flashcard {
  border: 3px solid #3F3F3D;
  height: 100%;
  color: #24997F;
  background-color: #333333;
}

.flashcards-review-next-arrow, .flashcards-review-back-arrow {
  height: 50px;
  width: 50px;
}

.flashcards-review-next-arrow:hover, .flashcards-review-back-arrow:hover {
  opacity: .5;
}

.flashcards-review-flashcard:hover {
  cursor: pointer;
  opacity: .7;
  background-color: #3F3F3D;
}

.progress-bar-container {
  position: relative;
  top: 10%;
}
/* SEARCH COMPONENT */

.search-container{
background-color: #24997F;
padding: .5rem 5rem;

}

.search-top{
  padding: .5rem 45px;
  background-color: #24997F;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container-start{
  width: 100%;
  position: absolute;
  z-index: 2;
  top:-20%;
  left: 0;
  transition: top 0.2s ease-out;
}

.search-container-end{
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  transition: top 0.2s ease-out;
}

.search-results-start {
  width: 100%;
  height: 40vh;
  background-color: #3F3F3D;
  position:absolute;
  padding: 45px 45px;
  top: 105px;
  left: 0;
  overflow-y: auto;
  transition: top 0.2s ease-in;
}

.search-results-end {
  width: 100%;
  height: 0;
  top: -20vh;
  left: 0;
  background-color: #3F3F3D;
  overflow-y: auto;
  transition: top 0.2s ease-out;
}

.search-text{
color: #FFFEFE;
font-family: 'Palanquin';
font-style: normal;
font-weight: 100;
font-size: 40px;

}

.search-input {
background-color: #24997F;
color: #C4C4C4;
font-weight: 100;
border: none;
border-bottom: #FFFFFF solid 1px;
border-radius: 0;
/* padding-left: 60px; */

}

.search-input:focus{
background-color: #24997F;
color: #C4C4C4;
font-weight: 100;
border: none;
border-bottom: #FFFFFF solid 1px;
border-radius: 0;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;

}

.fa-times{
color: #FFFFFF;
}

.search-item{
background-color:  #24997F;
color: white;
border: solid 1px white;
border-radius: 10px;
padding: 10px 20px;
margin-bottom: 5px;

}
.search-item > h5{
  font-weight: 100;
  margin-bottom: 0;
  color: white;

}

.search-item > p {
  font-weight: 100;
  color: #C4C4C4;
  margin-bottom: 0;
}


/* note modal */

.note-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}

.modal-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .1s, opacity .1s linear;
}

.modal-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .1s linear;
}

.note-modal-main {
  margin-top: 10px;
  padding: 10px 17px 10px 17px;
  position: fixed;
  background: #3F3F3D;
  width: 300px;
  height: 50px;
  border-radius: 4px;
}

.note-modal-main p {
  margin: 0;
  color: #24997F;
  font-size: 20px;
}

.no-results-message{
  text-align: center;
  color: #FE5D26;
}

.search-bar-button {
  color:white;
  border-color: white;
  background-color: #24997F;
  font-size: 16px;
  width: 95px;
  height: 35px;
  padding: 0;
}

/* General */
.theme-green {
  color: #24997F;
}

.color-white {
  color: white;
}

.height-10 {
  height: 10%;
}

.height-90 {
  height: 90%
}

.font-18 {
  font-size: 18px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    width: 8px;
    border: none;
}

::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #24997F;
}

::-webkit-scrollbar-track {
    background-image: url("https://i.imgur.com/6nrZNRF.png");
    background-color: #333333;
    background-repeat: repeat-y;
    background-size: contain;
}
