
* {
  box-sizing: border-box;
  font-family: 'Palanquin', sans-serif;
}

/* Main Page */
.search-deco {
  width: 80px;
  border-bottom: 1px solid #24997F;
}

.search-block {
  display: flex;
  justify-content: center;
  color: #24997F;
}

.search-block > h5 {
  margin: 0 10px 0 0;
  font-size: 18px;
}

.notebooks-link > h3 {
  color: #24997F;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

.outline-button {
  color:#24997F;
  border-color: #c4c4c4;
  font-size: 20px;
  width: 140px;
  height: 45px;
  padding: 0;
  margin-bottom: 80px;
}

.outline-button:hover {
  background-color: #24997F;
  border-color: #24997F;
  color: #c4c4c4;
}

.title {
  font-weight: bold;
  font-size: 65px;
  color: #24997F;
  letter-spacing: 0.15em;
}

.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.main-page-left {
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #24997F;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  left:0;
  top: calc((100vh - 20% - 45px)/2)
}

div.main-page-left > a {
  color: #24997F;
}


.main-page-right {
  height: 10%;
  display: flex;
  justify-content: center;
  color:#24997F;
  writing-mode: vertical-rl;
  position: absolute;
  right:0;
  top: calc((100vh - 45px - 10%)/2)
}

.main-page-footer {
  height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
}

div.title-block > a:hover, div.main-page-left > a:hover {
  color: #c4c4c4;
  text-decoration: none;
}

div.main-page-left > h5:hover, div.search-block:hover, div.main-page-right:hover {
  cursor: pointer;
}

.main-page-footer > div:first-child {
  background-color: #24997F;
  color: #3F3F3D;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.col-2 > h6 {
  margin: 0;
}

.main-page-footer > div:nth-child(2) {
  background-color: #3F3F3D;
}

.main-page-container {
  height: 100vh;
  padding: 30px 30px 0 30px;
  background-color: #333333;
  position: relative;
}

/* header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 45px;
  background-color: #3F3F3D;
}

.header-right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-search-block {
  display: flex;
  justify-content: center;
  color: #24997F;
  margin-right: 100px;
}

.header-outline-button {
  color:#24997F;
  border-color: #c4c4c4;
  font-size: 20px;
  width: 140px;
  height: 45px;
  padding: 0;
}

.header-container {
  display: flex;
}

.header-outline-button:hover {
  background-color: #24997F;
  border-color: #24997F;
  color: #c4c4c4;
}

.header-student-name {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.header-hamburger-icon {
  margin: 0;
}

.header-search-deco {
  width: 80px;
  border-bottom: 1px solid #24997F;
  height: 20px;
  border: none;
}

.header-note-title {
  background-color: #3F3F3D;
  color: #24997F;
  font-size: 40px;
  line-height: 20px;
  border: none;
}
/* note-list */

.note-list-container {
  background-color: #333333;
  height: 100%;
  padding: 30px 30px;
}

.note-list-container-border {
  width: 100%;
  padding: 0 5%;
  border: 1.5px solid #3F3F3D;
  border-radius: 5px;
  max-height: 100vh;
  overflow-y: auto;
}

.note-list-item {
  background-color: #333333;
  width: 30%;
  height: 60vh;
}

.note-list-item-body {
  background-color: #333333;
}

.note-list-item-content {
  color: #FFFFFF;
  height:100%;
  margin: 22px;
  padding: 10px;
  font-size: 20px;
  max-height: 65%;
  overflow-y: auto;
}

.note-list-item-title {
  color: #24997F;
  background-color: #3F3F3D;
  font-size: 40px;
  padding: 20px;
}

.loading {
  height: 100vh;
  padding: 45px;
  background-color: #3F3F3D;
  color: #24997F;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    width: 8px;
    border: none;
}

::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #24997F;
}

::-webkit-scrollbar-track {
    background-image: url("https://i.imgur.com/6nrZNRF.png");
    background-color: #333333;
    background-repeat: repeat-y;
    background-size: contain;
}
/* General */
.theme-green {
  color: #24997F;
}

/* note page */

.note-page-container {
  height: 100vh;
  background-color: #333333;
}

.note-main {
  display: flex;
  color:#24997F;
  justify-content: space-between;
  padding: 45px 30px;
  height: calc(100vh - 90px);
}

.difficulty {
  margin-left: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0.5px solid #C4C4C4;
}

.diff-status {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
}

.diff-1 {
  background-color: #FAEDCA;
}

.diff-2 {
  background-color: #F2C078;
}

.diff-3 {
  background-color: #C1DBB3;
}

.diff-4 {
  background-color: #24997F;
}

.diff-5 {
  background-color: #FE5D26;
}

.close-page-button {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  background-color: #24997F;
  border: 1px solid #C4C4C4;
  color:white;
  font-size: 18px;
}

.solid-button {
  color:white;
  border-color: #24997F;
  background-color: #24997F;
  font-size: 16px;
  width: 95px;
  height: 35px;
  padding: 0;
}

.solid-button-large {
  color:white;
  border-color: #24997F;
  background-color: #24997F;
  font-size: 16px;
  width: 160px;
  height: 45px;
  padding: 0;
}

.flashcard-select-tag {
  width: 40%;
}

.resource {
  width: 40%;
}

.resource-link {
  width: 55%;
}

.cancel-btn {
  margin-left: calc((100% - 95px)/2);
}

.add-button {
  background-color: #24997F;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  margin-left: calc((100% - 45px)/2);
}

.note-font-1 {
  font-size: 24px;
}

.note-font-2 {
  font-size: 36px;
  margin-bottom: 0;
}

/* Review Flashcards */
.flashcard-review-indicator-focused {
  opacity: 1;
}

.flashcard-review-indicator-unfocused {
  opacity: .3;
}
